<a href="https://colab.research.google.com/github/UmaTaru/LearnPython/blob/main/LEARN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

ORDER OF EXECUTION IS IMPORTANT

In [ ]:

print("     /|")
print("    / |")
print("   /  |")
print("  /___|")
print()
print("  /___|")
print("     /|")
print("    / |")
print("   /  |")

     /|
    / |
   /  |
  /___|

  /___|
     /|
    / |
   /  |

In [ ]:
print('There once was a man named George')
print('He was 70 years old')
print ('he really liked his name George')
print("But he really didn't really like being 70")

There once was a man named George
He was 70 years old
he really liked his name George
But he really didn't really like being 70

VARIABLES

In [ ]:
name = 'John'
age = '35'
print('There once was a man named'+name)
print('He was '+age+' years old')
print ('he really liked his name '+name)
print("But he really didn't really like being"+age)

There once was a man namedJohn
He was 35 years old
he really liked his name John
But he really didn't really like being35

In [ ]:
name = 'John'
age = '35'
print('There once was a man named',name)
print('He was ',age,' years old')
print ('he really liked his name ',name)
print("But he really didn't really like being",age)

There once was a man named John
He was  35  years old
he really liked his name  John
But he really didn't really like being 35

In [ ]:
name = 'John'
age = '35'
print('There once was a man named'+name)
print('He was '+age+' years old')
name = "mike"
age = 13
print ('he really liked his name '+name)
print("But he really didn't really like being",age)

There once was a man namedJohn
He was 35 years old
he really liked his name mike
But he really didn't really like being 13

In [ ]:
flag = False
if flag == True:
  print("TRUE")
else :
  print("FALSE")

FALSE

WORKING WITH STRINGS

In [ ]:
print('Uma \"Taru"')
print('Uma \n Taru')
print('Uma\Taru')
name = 'Uma Taru'
print(name + ' is pursuing Masters')
print("My stream is \"Computer Science\"")

Uma "Taru"
Uma
 Taru
Uma\Taru
Uma Taru is pursuing Masters
My stream is "Computer Science"

STRING FUNCTIONS

In [ ]:
phrase = "cryptography and network security"
print(phrase.upper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[9])
print(phrase.index("net"))
print(phrase.replace("and","&"))

CRYPTOGRAPHY AND NETWORK SECURITY
True
33
p
17
cryptography & network security

WORKING WITH NUMBERS

In [ ]:
print(2)
print(2.0987)
print(-09.3)
print(9999 * 6453)
print(3 *(4 + 5))
print(10 % 3)
print(10/3)

my_num = -5
print(str(my_num)+" my favourite number")
print(abs(my_num))
print(pow(3,2))
print(max(4,100))
print(round(3.5))

2
2.0987
-9.3
64523547
27
1
3.3333333333333335
-5 my favourite number
5
9
100
4

In [ ]:
from math import *
print(floor(3.7))
print(ceil(9.4))
print(sqrt(16))

3
10
4.0

GETTING INPUT FROM USERS

In [ ]:
#input("Enter your name: ")
name = input("Enter your name : ")
age = input("Enter your age : ")
print("Hello "+name+"! You're "+age)

Enter your name : Uma
Enter your age : 23
Hello Uma! You're 23

**BUILDING A BASIC CALCULATOR**

In [ ]:
a = input("Enter first number ")
b = input("Enter second number ")
add = a + b
print("Addition of "+a+" and "+b+" is "+add)
add = int(a) + int(b)
print("Addition of ",a," and ",b," is ",add)
add = float(a) + float(b)
print("Addition of ",a," and ",b," is ",add)

Enter first number 2
Enter second number 3
Addition of 2 and 3 is 23
Addition of  2  and  3  is  5
Addition of  2  and  3  is  5.0

MAD LIBS GAME

In [ ]:
color = input("Enter a color : ")
plural_noun = input("Enter a plural noun : ")
celeb_name = input("Enter a celeb name : ")

print("Roses are "+color)
print(plural_noun+" are blue")
print("I love "+celeb_name)

Enter a color : Magenta
Enter a plural noun : Microwaves
Enter a celeb name : Tom
Roses are Magenta
Microwaves are blue
I love Tom

## **LISTS**

In [ ]:
friends = ["Kevin","Karen","Jim", "Oscar", "Toby",]
friends2 = ["a",1, 1.00]
print(friends)
print(friends[0])
print(friends[2])
print(friends[-1])
print(friends[1:])
print(friends[1:3])
friends[1] = "Mike"
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']
Kevin
Jim
Toby
['Karen', 'Jim', 'Oscar', 'Toby']
['Karen', 'Jim']
['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

LIST FUNCTIONS

In [ ]:
num = [4,5,15,16,23,42]
friends = ["Kevin","Karen","Jim","Jim","Jim", "Oscar", "Toby",]
#friends.extend(num)

print(friends)
friends.append("Creed")
print(friends)
num.insert(1,100)
print(num)
num.remove(16)
print(num)
#num.clear()
#print(num)
removed = friends.pop()
print("Popped element : ",removed)
print(friends.index("Jim"))
print(friends.count("Kevin"))
friends.sort()
print(friends)
num.sort()
print(num)
num.reverse()
print(num)
friends2 = friends.copy()
print("Friends 2 = ",friends2)

['Kevin', 'Karen', 'Jim', 'Jim', 'Jim', 'Oscar', 'Toby']
['Kevin', 'Karen', 'Jim', 'Jim', 'Jim', 'Oscar', 'Toby', 'Creed']
[4, 100, 5, 15, 16, 23, 42]
[4, 100, 5, 15, 23, 42]
Popped element :  Creed
2
1
['Jim', 'Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']
[4, 5, 15, 23, 42, 100]
[100, 42, 23, 15, 5, 4]
Friends 2 =  ['Jim', 'Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

# **TUPLES**
Tuples are containers where we store different values
Tuples are immutable - tuple can't be changed or modified

In [ ]:
coo = (4,5)
#coo[1] = 10 ERROR -- 'tuple' object does not support item assignment
print(coo[0])
print(coo[1])

list_of_tuples = [(4,5),(6,7),(80,34)]
print(list_of_tuples[0][1])

4
5
5

**FUNCTIONS**
organise your code

In [ ]:
def say_hi():
  print("Entered the function")
  print("Hello User")
  print("Exiting function")

#calling the function
print("TOP")
say_hi()
print("BOTTOM")

#parameter - piece of information we give to function
def add(a,b):
  print(a+b)
add(1000,1)
add(9,10)

TOP
Entered the function
Hello User
Exiting function
BOTTOM
1001
19

## RETURN **STATEMENT**
return value back from a function

In [ ]:
def cube(a):
  return a*a*a
  print("I'M NOT GETTEING PRINTED")

#result = cube(5)
#print(result)
print(cube(2))
cube(3)

8

27

## **IF STATEMENT**
special stuctures to let programs make decisions

In [ ]:
is_male = False
if is_male:
  print("Person is Male")
else :
  print("Person is Female")

Person is Female

In [ ]:
is_male = False
is_tall = True
if is_male and is_tall:
  print("Male and tall")
elif is_male and not(is_tall):
  print("male and not tall")
elif not(is_male) and is_tall:
  print("not male but tall")
else :
  print("not male nor tall")

not male but tall

##if statements and comparison

In [ ]:
def max(a,b,c):
  if a >= b and a >= c:
    print("First number is maxium")
  elif b >= c :
    print("Second number is maxium")
  else : 
    print("Third number is maxium")
max(2,3,4)
max(4,3,2)
max(1,100,3)

Third number is maxium
First number is maxium
Second number is maxium

BUILDING A BETTER CALCULATOR

In [ ]:
def calculate(a,b):
  op = operator()
  if op == '+':
    print("Addition of ",a," and ",b," is ",a+b)
  elif op == '-':
    print("Subtraction of ",a," and ",b," is ",a-b)
  elif op == '*':
    print("Product of ",a," and ",b," is ",a*b)
  elif op == '/':
    print("Division of ",a," and ",b," is ",a/b)
  elif op == '%':
    print("Mod of ",a," and ",b," is ",a%b)

def operator():
  operator = input("Enter your operator : ")
  return operator

a = float(input("Enter a : "))

b = float(input("Enter b : "))
calculate(a,b)

Enter a : 5
Enter b : 3
Enter your operator : %
Mod of  5.0  and  3.0  is  2.0

# DICTIONARIES
allows us to store information in form of (key,value)

In [ ]:
monthConv = {
    "Jan" : "January",
    "Feb" : "February",
    "Mar" : "March",
    "Apr" : "April",
    "May" : "May",
    "Jun" : "June",
    "Jul" : "July",
    "Aug" : "August",
    "Sep" : "September",
    "Oct" : "October",
    "Nov" : "November",
    "Dec" : "December"
}
print(monthConv["Nov"])
print(monthConv.get("Dec"))
print(monthConv.get("Luv"))
print(monthConv.get("Luv","Not a valid key"))

November
December
None
Not a valid key

##WHILE STATEMENT

In [ ]:
i = 1
while i <=10:
  print(i)
  i += 1
print("Done!!")

1
2
3
4
5
6
7
8
9
10
Done!!

## **GUESSING GAME**

In [ ]:
secret_word = "giraffe"
guess = " "
chances_left = 3
while guess != secret_word :
  guess = input("Enter your guess : ")
  if guess != secret_word :
    chances_left = chances_left -1
    if chances_left == 0:
      print("YOU LOSE !!!\nThe secret word is : ", secret_word)
      break
    print("TRY AGAIN ! Chances left = ",chances_left)
  else :
    print("YOU WON !!!")

Enter your guess : you
TRY AGAIN ! Chances left =  2
Enter your guess : ad
TRY AGAIN ! Chances left =  1
Enter your guess : ad
YOU LOSE !!!
The secret word is :  giraffe

## **FOR LOOP**

In [ ]:
for i in "Giraffe Academy":
  print(i)

fnd = ["Jim","Karen","Kevin"]
for i in fnd :
  print(i)
for i in range(len(fnd)) :
  print(fnd[i])

for i in range(1,10):
  print(i)

for i in range(5):
  if i == 0:
    print("First iteration")
  else:
    print("NOT first")

G
i
r
a
f
f
e

A
c
a
d
e
m
y
Jim
Karen
Kevin
Jim
Karen
Kevin
1
2
3
4
5
6
7
8
9
First iteration
NOT first
NOT first
NOT first
NOT first

## EXPONENT FUNCTION

In [ ]:
print(2**3)

def expo(b, p):
  res = 1
  for i in range(p):
    res = res*b
  return res
print(expo(2,3))
print(expo(3,9))

8
8
19683

## **2D LISTS AND NESTED LOOPS**

In [ ]:
grid = [
        [1,2,3],
        [4,5,6],
        [7,8,9],
        [0]
]
print(grid[0][0])
for row in grid:
  for col in row:
    print(col)

1
1
2
3
4
5
6
7
8
9
0

# BUILD A TRANSLATOR

In [ ]:
def translate(phrase):
  translate = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      if letter.isupper() :
        translate = translate + 'G'
      else:
        translate = translate + 'g'
    else :
      translate = translate + letter
  return translate
phrase = "To bE or nOt to Be"
print(translate(phrase))
phrase = "giraffe is A tall Animal"
print(translate(phrase))

Tg bG gr nGt tg Bg
ggrgffg gs G tgll Gngmgl

comments

In [ ]:
print("Comments are fun")
#this is a comment
#this is my first python tutorial
#i've learned many things

Comments are fun

'\njnadif\nfbuf\ndbdc c'

## TRY **EXCEPT**
catching errors

In [ ]:

try : 
  value = 10/0
  num = int(input("Enter a number : "))
  print(num)
except : 
  print("INVALID INPUT")

INVALID INPUT

In [ ]:
try :
  
  num = int(input("enter a integer : "))
  print(num)
  val = 10/0
except ZeroDivisionError as err:
  print(err)
except ValueError : 
  print("Invalid Input")

enter a integer : 1
1
division by zero

## **READING FILES** 
from external files

In [ ]:
emp_file = open("/content/employee.txt",'r')
for emp in emp_file.readlines():
  print(emp)

Jim - employee

Dwain - employee

Twain - Manager

Joe - Recepionist

Marry - Accountant

## writing to file

In [ ]:
emp = open("/content/emp2.txt", 'w')
emp.write("\nShri 3")
emp.close()

In [ ]:
emp = open("/content/emp3", 'w')
emp.write("Dwain - salesperson")
emp.close()

## **Modules and Pip**
modules are is a python file that we can import into current python file 

access those functions variables from that file into current file

pip - preinstalled with python3 - used to install python modules 

      - called a package manager       
      - allows to install, update, manage, uninstall -different python modules

In [ ]:
pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/e4/83/c66a1934ed5ed8ab1dbb9931f1779079f8bca0f6bbc5793c06c4b5e7d671/python-docx-0.8.10.tar.gz (5.5MB)
     |████████████████████████████████| 5.5MB 15.8MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.10-cp37-none-any.whl size=184491 sha256=46a5350e180ab9b2978a532869f8e433c5d43ad9e7f12999795d972ee173bcf4
  Stored in directory: /root/.cache/pip/wheels/18/0b/a0/1dd62ff812c857c9e487f27d80d53d2b40531bec1acecfa47b
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.10

# **Classes and Objects**
create our own data type - classes

In [ ]:
mystr = "Hello World"
print(mystr.count("o"))

2